<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - SWEet Travels</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/business-casual.css" rel="stylesheet">

  </head>

  <body>

    <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">SWEet Travels</div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">CS 373 | Group 16</div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="parks.html">Parks</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="campgrounds.html">Campgrounds</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="visitorcenters.html">Visitor Centers</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="states.html">States</a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </nav>

    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">Our
          <strong>Team</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="../static/img/about/derek.jpg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Derek Chang<br />
                  <small class="text-muted">Front-End Engineer<br /><br /></small>
                </h4>
              <p class="text-left">Senior, Computer Science major from Austin, TX. I love traveling, learning, and interacting with interesting people on a daily basis. I worked on the 'Parks' model and had a great time learning Flask.</p>
              <p class="text-left">
              <b>Num. of commits: </b><br>
              <b>Num. of issues: </b><br>
              <b>Num. of unit tests:</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="../static/img/about/katherine.jpg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Katherine Bruton<br />
                  <small class="text-muted">Back-End Engineer<br /><br /></small>
                </h4>
              <p class="text-left">I'm a senior from San Antonio, TX. I love exploring cities, playing video games, and swing dancing! For this phase of the project, I worked on the Visitor Centers pages. </p>
              <p class="text-left">
              <b>Num. of commits: </b><br>
              <b>Num. of issues: </b><br>
              <b>Num. of unit tests:</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/img/about/linh.png" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Linh Nguyen<br />
                  <small class="text-muted">Front-End Engineer<br /><br /></small>
                </h4>
              <p class="text-left">I'm a senior from the DFW area. I like travelling, avacados, horror movies, and baking. For this iteration, I've worked on the States pages.</p>
              <p class="text-left">
              <b>Num. of commits: </b><br>
              <b>Num. of issues: </b><br>
              <b>Num. of unit tests:</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/img/about/rachel.jpg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Rachel Oei<br/ >
                  <small class="text-muted">Back-End Engineer<br /><br /></small>
                </h4>
              <p class="text-left">I am a senior computer science major from Miami, Florida. I worked on the Home and About pages for this project
              and got to learn about Google Cloud Platform, Flask, and Bootstrap.</p>
              <p class="text-left">
              <b>Num. of commits: </b><br>
              <b>Num. of issues: </b><br>
              <b>Num. of unit tests:</b></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="../static/img/about/ryan.jpeg" alt="">
              <div class="card-body text-center">
                <h4 class="card-title m-0">Ryan Le<br />
                  <small class="text-muted">Front-End Engineer<br /><br /></small>
                </h4>
              <p class="text-left">
                Hi! I'm a fourth year disaster human studying Computer Science at The University of Texas at Austin. So far, I've mostly worked on the Campgrounds page and had a lovely time learning about Google Cloud Platform and Flask.
              </p>
              <p class="text-left">
              <b>Num. of commits: </b><br>
              <b>Num. of issues: </b><br>
              <b>Num. of unit tests:</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <footer class="bg-faded text-center py-5">
      <div class="container">
        <p class="m-0">Copyright &copy; SWEet Travels 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
