.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-imageCrop {
  height: calc(width * 0.5);
  overflow: hidden;
}

.center {
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.overflow-scrolling {
    height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.Highlight {
  background-color: #ffd54f;
}