<div class="col-md-4 mb-4 mb-md-0">
  <div class="card h-100">
    <a href="/campgrounds/{{ campId }}"><div class="imageCrop">
    <img class="card-img-top" src="{{ photoUrl }}" alt=""/></div></a>
    <div class="card-body text-center">
      <h4 class="card-title m-0">{{ groundName }}<br/>
        <small class="text-muted">{{ parkName }}</small>
      </h4>
      <p style="font-size:100%">
        <b>States:</b>
        <a href="/states/{{ state.lower() }}.html">{{ state }}</a>
      </p>
      <p style="font-size:100%">
        <b>Number of Sites:</b>
        {{ siteNumber }}
      </p>
      <p style="font-size:100%">
        <b><a href="{{ directionsUrl }}">Directions</a></b>
      </p>
    </div>
  </div>
</div>
